---
layout: main
css: ../stylesheets/stylesheet.css
js: ../javascripts/main.js
---

<p>Pour ce hands'on, vous aurez à votre disposition une instance amazon.
Il sera impératif de l'utiliser pour permettre le bon fonctionnement du cluster Swarm qui sera monté !</p>

<p>Toutes les machines utilisent la même clef ssh, et ont le même login <strong><em>docker</em></strong>.</p>

<p>Pour valider le fonctionnement de votre instance, connectez-vous avec la commande suivante (le mot de passe vous sera donné en séance) : </p>

{% highlight bash %}
$ ssh -l docker swarm-{{page.groupId}}.aws.xebiatechevent.info
{% endhighlight %}

<h2>Initialiser un cluster Swarm</h2>

<h3>Préparation de l'infrastructure</h3>

<p>Swarm est composé de managers, qui jouent le rôle de serveur connaissant l'ensemble des noeuds, et d'agents,
lancés sur les machines hébergeant les Docker Engine. L'ensemble du système repose sur un système de
découverte de services externe, qui peut être fourni par Consul, Etcd ou Zookeeper. Nous allons ici utiliser Consul,
qui sera lancé sur un noeud dédié hors du cluster. Sur ce Docker Engine hors du cluster, lancez la commande suivante :</p>

{% highlight bash %}
$ docker run -d -p 8500:8500 --name=consul progrium/consul -server -bootstrap
{% endhighlight %}

<p>Ceci va démarrer un serveur Consul standalone avec le port 8500 d'exposé, suffisant pour l'utilisation de Swarm.</p>

<h3>Initialisation du cluster</h3>

<p>Maintenant que nous avons un Consul de disponible, nous pouvons initialiser le cluster ! Lancez la commande suivante sur le noeud manager :</p>

{% highlight bash %}
$ docker run -d -p 4000:4000 swarm manage -H :4000 --advertise <my_ip>:4000 consul://<consul_ip>:8500
{% endhighlight %}

<p>Cette commande démarre un manager écoutant sur le port 4000, et s'annonçant dans le Consul donné.
Remplacez my_ip par l'ip du noeud manager (il doit s'annoncer lui-même) et consul_ip par l'IP du serveur
hébergeant le consul déployé précédemment.</p>

<h2>Intégrer le cluster Swarm</h2>

<p>Avec notre manager Swarm disponible, nous allons pouvoir intégrer les noeuds Docker Engine dans le cluster !</p>

<h3>Rejoindre le cluster</h3>

<p>Lancez la commande suivante pour faire rejoindre le cluster à un noeud :</p>

{% highlight bash %}
$ docker run -d swarm join --advertise=<node_ip>:2375 consul://<consul_ip>:8500
{% endhighlight %}

<p>Remplacez node_ip par l'IP locale du noeud et consul_ip par l'IP du serveur Consul.
Si la commande s'est bien passée, le noeud a normalement rejoint le cluster, il n'y a plus qu'à vérifier.</p>

<h3>Explorer le cluster</h3>

<p>Swarm exposant la même API que celle des Engine Docker, il est très simple
de se connecter à un manager. Sur votre machine, lancez la commande suivante :</p>

{% highlight bash %}
$ docker -H <manager_ip>:4000 info
Containers: 1
 Running: 1
 Paused: 0
 Stopped: 0
Images: 3
Server Version: swarm/1.1.3
Role: primary
Strategy: spread
Filters: health, port, dependency, affinity, constraint
Nodes: 1
 52.28.211.86: 10.10.0.113:2375
  └ Status: Healthy
  └ Containers: 1
  └ Reserved CPUs: 0 / 2
  └ Reserved Memory: 0 B / 7.669 GiB
  └ Labels: executiondriver=native-0.2, kernelversion=4.2.0-19-generic, operatingsystem=Ubuntu 15.10, storagedriver=aufs
  └ Error: (none)
  └ UpdatedAt: 2016-03-06T13:27:31Z
Plugins:
 Volume:
 Network:
Kernel Version: 4.2.0-19-generic
Operating System: linux
Architecture: amd64
CPUs: 2
Total Memory: 7.669 GiB
Name: 475064661cb2
{% endhighlight %}

<p>Vous devriez avoir une sortie ressemblant à cela, avec un nombre variable de
noeuds en fonction du nombre de personnes ayant rejoint le cluster. Si l'IP de
votre machine est présente, vous avez bien rejoint le cluster !</p>
